.container{
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#enter-room{
    width: 20%;
    display: flex;
    flex-direction: column;
}

#new-room{
    width: 20%;
    display: flex;
    flex-direction: column;
}

button{
    height: 20px;
}

.heading{
    color: white;
    font-family: 'Comfortaa', sans-serif;
    font-size: 5vw;
}